<!DOCTYPE html>
<html>
  <head>
    <title>{{t_uname}}'s {{crs.cname}}</title>
    <link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='loginstyles.css') }} />
  </head>
  <body>
    <h1></h1>
    <h1></h1>
    <header>
        <h1>Upload File</h1>
    </header>
    <main>
    <form action="{{url_for('upload', course_id = crs.id)}}" method="post" enctype="multipart/form-data">
        <div class="auth-options">
            <br>
            <input type="file" name="file" id="file" >
            <br>
            <input type="submit" value="Upload">
        </div>
    </form>
    </main>
    <br>
    <br>
    <header>
        <h1>Uploaded Items</h1>
    </header>
    <main>
        {% if items %}
            <b>Items::</b>
            <br>
            <br>
            {% for f in items %}
                <hr>
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="file">
                &nbsp;
                {{f.item_name}}
                <hr>
            {% endfor %}
        {% else %}
            No Item Here!
        {% endif %}
    </main>
    <br><br>
    <header>
        <h1>Enrolled Students</h1>
    </header>
    <main>
        {% if stds %}
            {% for std in stds %}
                <hr>
                {{std.fname}} {{std.lname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/remove_student/{{crs.id}}/{{std.uname}}"><button>Remove</button></a>
                <hr>
            {% endfor %}
        {% else %}
            No studetns Enrolled!    
        {% endif %}
    </main>
    <br><br>
    <header>
        <h1>Chat</h1>
    </header>
    <main>
        {% if messeges %}
        {% for msg in messeges %}
        <hr>
        {{msg.sender_name}} :  {{msg.messege_content}}
        <hr>
        {% endfor %}
        {% endif %}
    
    <header>
        <form action="{{url_for('sendMsg', cid=crs.id, uname=t_uname)}}" method="POST">
            <textarea name="msgcontent"></textarea>
            <input type="submit">
        </form>
    </header>
    </main>
    
        <form action="/home" method="GET">
            <div class="auth-options">
                <button type="submit">Home</button>
            </div>
        </form> 
    </body>
</html>