<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='loginstyles.css') }} />
    <header>
        <h1>{{student_uname}}, You Have Been successfully Enrolled Into {{cname}}!</h1>
    </header>
    <main>
        <form action="/home" method="GET">
            <div class="auth-options">
                <button type="submit">Home</button>
            </div>
        </form> 
    </main> 
</body>
</html>
  
